In [1]:
import pandas as pd

# Detecção de Valores Ausentes

In [2]:
# Carregando Dataframes
df_clientes = pd.read_csv('../../docs/datasets_aula/churn_customers.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_clientes.shape}")

df_contratos = pd.read_csv('../../docs/datasets_aula/churn_contracts.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_contratos.shape}")

df_servicos = pd.read_csv('../../docs/datasets_aula/churn_services.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_servicos.shape}")

Arquivo carregado com sucesso, dimensões: (7043, 5)
Arquivo carregado com sucesso, dimensões: (7043, 8)
Arquivo carregado com sucesso, dimensões: (7043, 10)

In [3]:
# Apresentando informações sobre os Dataframes
print(f"Informações do dataframe de clientes:\n{df_clientes.info()}\n")
print(f"Informações do dataframe de contratos:\n{df_contratos.info()}\n")
print(f"Informações do dataframe de serviços:\n{df_servicos.info()}\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB
Informações do dataframe de clientes:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB
Informações do dataframe de contratos:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB
Informações do dataframe de serviços:
None

In [4]:
# Unificando os Dataframes
df_churn = df_contratos.merge(df_servicos, on='customerID', how='left')
df_churn = df_churn.merge(df_clientes, on='customerID', how='left')

In [5]:
# Apresentando informações sobre os Dataframes
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
 8   PhoneService      7043 non-null   object
 9   MultipleLines     7043 non-null   object
 10  InternetService   7043 non-null   object
 11  OnlineSecurity    7043 non-null   object
 12  OnlineBackup      7043 non-null   object
 13  DeviceProtection  7043 non-null   object
 14  TechSupport       7043 non-null   object
 15  StreamingTV       7043 non-null   object
 16  StreamingMovies   7043 non-null   object
 17  gender            7043 non-null   object
 18  SeniorCitizen     7043 non-null   int64
 19  Partner           7043 non-null   object
 20  Dependents        7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
# Detectando valores ausentes
df_churn_missing = df_churn.isna().sum()

# Visualizando os resultados
print(f"Valores ausentes no dataframe de clientes:\n{df_churn_missing}\n")

Valores ausentes no dataframe de clientes:
customerID          0
tenure              0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
dtype: int64

In [7]:
# Detectando valores ausentes em uma coluna
df_churn['TotalCharges'].isna().sum()

np.int64(0)

In [8]:
# Transformar coluna TotalCharges para float
df_churn['TotalCharges'] = pd.to_numeric(df_churn['TotalCharges'], errors='coerce')
# Visualizar as informações do dataframe
print(f"Informações do dataframe de clientes:\n")
df_churn.info()

Informações do dataframe de clientes:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
 8   PhoneService      7043 non-null   object
 9   MultipleLines     7043 non-null   object
 10  InternetService   7043 non-null   object
 11  OnlineSecurity    7043 non-null   object
 12  OnlineBackup      7043 non-null   object
 13  DeviceProtection  7043 non-null   object
 14  TechSupport       7043 non-null   object
 15  StreamingTV       7043 non-null   object
 16  StreamingMovies   7043 non-null   object
 17  gender            7043 non-null   object
 18  SeniorCitizen     7043 non-null   int64
 19  Partner           7043 non-null   object
 20  Dependents        7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [9]:
# Verificando pós conversão
df_churn['TotalCharges'].isna().sum()

np.int64(11)

In [10]:
# Detectando valores nulos
df_churn_nulo = df_churn.isnull().sum()

# Visualizando os resultados
print(f"Valores nulos no dataframe de clientes:\n{df_churn_nulo}\n")

Valores nulos no dataframe de clientes:
customerID           0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
dtype: int64

In [11]:
# Linhas com pelo menos um valor ausente
print(f"Linhas com pelo menos um valor ausente:\n{df_churn[df_churn.isna().any(axis=1)]}")

Linhas com pelo menos um valor ausente:
      customerID  tenure  Contract PaperlessBilling  \
488   4472-LVYGI       0  Two year              Yes
753   3115-CZMZD       0  Two year               No
936   5709-LVOEQ       0  Two year               No
1082  4367-NUYAO       0  Two year               No
1340  1371-DWPAZ       0  Two year               No
3331  7644-OMVMY       0  Two year               No
3826  3213-VVOLG       0  Two year               No
4380  2520-SGTTA       0  Two year               No
5218  2923-ARZLG       0  One year              Yes
6670  4075-WKNIU       0  Two year               No
6754  2775-SEFEE       0  Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn  \
488   Bank transfer (automatic)           52.55           NaN    No
753                Mailed check           20.25           NaN    No
936                Mailed check           80.85           NaN    No
1082               Mailed check           25.75           NaN    No
1340    Credit card (automatic)           56.05           NaN    No
3331               Mailed check           19.85           NaN    No
3826               Mailed check           25.35           NaN    No
4380               Mailed check           20.00           NaN    No
5218               Mailed check           19.70           NaN    No
6670               Mailed check           73.35           NaN    No
6754  Bank transfer (automatic)           61.90           NaN    No

     PhoneService     MultipleLines  ...       OnlineSecurity  \
488            No  No phone service  ...                  Yes
753           Yes                No  ...  No internet service
936           Yes                No  ...                  Yes
1082          Yes               Yes  ...  No internet service
1340           No  No phone service  ...                  Yes
3331          Yes                No  ...  No internet service
3826          Yes               Yes  ...  No internet service
4380          Yes                No  ...  No internet service
5218          Yes                No  ...  No internet service
6670          Yes               Yes  ...                   No
6754          Yes               Yes  ...                  Yes

             OnlineBackup     DeviceProtection          TechSupport  \
488                    No                  Yes                  Yes
753   No internet service  No internet service  No internet service
936                   Yes                  Yes                   No
1082  No internet service  No internet service  No internet service
1340                  Yes                  Yes                  Yes
3331  No internet service  No internet service  No internet service
3826  No internet service  No internet service  No internet service
4380  No internet service  No internet service  No internet service
5218  No internet service  No internet service  No internet service
6670                  Yes                  Yes                  Yes
6754                  Yes                   No                  Yes

              StreamingTV      StreamingMovies  gender SeniorCitizen  Partner  \
488                   Yes                   No  Female             0      Yes
753   No internet service  No internet service    Male             0       No
936                   Yes                  Yes  Female             0      Yes
1082  No internet service  No internet service    Male             0      Yes
1340                  Yes                   No  Female             0      Yes
3331  No internet service  No internet service    Male             0      Yes
3826  No internet service  No internet service    Male             0      Yes
4380  No internet service  No internet service  Female             0      Yes
5218  No internet service  No internet service    Male             0      Yes
6670                  Yes                   No  Female             0      Yes
6754                   No                   No    Male             0       No

     Dependents
488         Yes
753         Yes
936         Yes
1082        Yes
1340        Yes
3331        Yes
3826        Yes
4380        Yes
5218        Yes
6670        Yes
6754        Yes

[11 rows x 21 columns]

In [12]:
# Linhas com pelo menos um valor nulo
print(f"Linhas com pelo menos um valor nulo:\n{df_churn[df_churn.isnull().any(axis=1)]}")

Linhas com pelo menos um valor nulo:
      customerID  tenure  Contract PaperlessBilling  \
488   4472-LVYGI       0  Two year              Yes
753   3115-CZMZD       0  Two year               No
936   5709-LVOEQ       0  Two year               No
1082  4367-NUYAO       0  Two year               No
1340  1371-DWPAZ       0  Two year               No
3331  7644-OMVMY       0  Two year               No
3826  3213-VVOLG       0  Two year               No
4380  2520-SGTTA       0  Two year               No
5218  2923-ARZLG       0  One year              Yes
6670  4075-WKNIU       0  Two year               No
6754  2775-SEFEE       0  Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn  \
488   Bank transfer (automatic)           52.55           NaN    No
753                Mailed check           20.25           NaN    No
936                Mailed check           80.85           NaN    No
1082               Mailed check           25.75           NaN    No
1340    Credit card (automatic)           56.05           NaN    No
3331               Mailed check           19.85           NaN    No
3826               Mailed check           25.35           NaN    No
4380               Mailed check           20.00           NaN    No
5218               Mailed check           19.70           NaN    No
6670               Mailed check           73.35           NaN    No
6754  Bank transfer (automatic)           61.90           NaN    No

     PhoneService     MultipleLines  ...       OnlineSecurity  \
488            No  No phone service  ...                  Yes
753           Yes                No  ...  No internet service
936           Yes                No  ...                  Yes
1082          Yes               Yes  ...  No internet service
1340           No  No phone service  ...                  Yes
3331          Yes                No  ...  No internet service
3826          Yes               Yes  ...  No internet service
4380          Yes                No  ...  No internet service
5218          Yes                No  ...  No internet service
6670          Yes               Yes  ...                   No
6754          Yes               Yes  ...                  Yes

             OnlineBackup     DeviceProtection          TechSupport  \
488                    No                  Yes                  Yes
753   No internet service  No internet service  No internet service
936                   Yes                  Yes                   No
1082  No internet service  No internet service  No internet service
1340                  Yes                  Yes                  Yes
3331  No internet service  No internet service  No internet service
3826  No internet service  No internet service  No internet service
4380  No internet service  No internet service  No internet service
5218  No internet service  No internet service  No internet service
6670                  Yes                  Yes                  Yes
6754                  Yes                   No                  Yes

              StreamingTV      StreamingMovies  gender SeniorCitizen  Partner  \
488                   Yes                   No  Female             0      Yes
753   No internet service  No internet service    Male             0       No
936                   Yes                  Yes  Female             0      Yes
1082  No internet service  No internet service    Male             0      Yes
1340                  Yes                   No  Female             0      Yes
3331  No internet service  No internet service    Male             0      Yes
3826  No internet service  No internet service    Male             0      Yes
4380  No internet service  No internet service  Female             0      Yes
5218  No internet service  No internet service    Male             0      Yes
6670                  Yes                   No  Female             0      Yes
6754                   No                   No    Male             0       No

     Dependents
488         Yes
753         Yes
936         Yes
1082        Yes
1340        Yes
3331        Yes
3826        Yes
4380        Yes
5218        Yes
6670        Yes
6754        Yes

[11 rows x 21 columns]

In [13]:
# Linhas com pelo menos um valor igual a 25.75
print(f"Linhas com pelo menos um valor igual a 25.75:\n{df_churn[df_churn['MonthlyCharges'] == 25.75]}")

Linhas com pelo menos um valor igual a 25.75:
      customerID  tenure        Contract PaperlessBilling  \
1082  4367-NUYAO       0        Two year               No
1531  7107-UBYKY      35  Month-to-month              Yes
2199  8532-UEFWH      52        Two year               No
2883  7225-IILWY      68        Two year               No
2930  5322-ZSMZY      31        Two year               No
4275  2692-PFYTJ       1  Month-to-month              Yes
6226  2097-YVPKN      65        Two year               No
6719  2509-TFPJU      72        Two year               No

                PaymentMethod  MonthlyCharges  TotalCharges Churn  \
1082             Mailed check           25.75           NaN    No
1531         Electronic check           25.75        882.55    No
2199             Mailed check           25.75       1345.85    No
2883             Mailed check           25.75       1686.15    No
2930             Mailed check           25.75        755.60    No
4275             Mailed check           25.75         25.75    No
6226             Mailed check           25.75       1654.75    No
6719  Credit card (automatic)           25.75       1864.20    No

     PhoneService MultipleLines  ...       OnlineSecurity  \
1082          Yes           Yes  ...  No internet service
1531          Yes           Yes  ...  No internet service
2199          Yes           Yes  ...  No internet service
2883          Yes           Yes  ...  No internet service
2930          Yes           Yes  ...  No internet service
4275          Yes           Yes  ...  No internet service
6226          Yes           Yes  ...  No internet service
6719          Yes           Yes  ...  No internet service

             OnlineBackup     DeviceProtection          TechSupport  \
1082  No internet service  No internet service  No internet service
1531  No internet service  No internet service  No internet service
2199  No internet service  No internet service  No internet service
2883  No internet service  No internet service  No internet service
2930  No internet service  No internet service  No internet service
4275  No internet service  No internet service  No internet service
6226  No internet service  No internet service  No internet service
6719  No internet service  No internet service  No internet service

              StreamingTV      StreamingMovies  gender SeniorCitizen  Partner  \
1082  No internet service  No internet service    Male             0      Yes
1531  No internet service  No internet service  Female             0      Yes
2199  No internet service  No internet service    Male             0      Yes
2883  No internet service  No internet service    Male             0      Yes
2930  No internet service  No internet service    Male             0      Yes
4275  No internet service  No internet service  Female             0       No
6226  No internet service  No internet service    Male             0       No
6719  No internet service  No internet service    Male             0      Yes

     Dependents
1082        Yes
1531        Yes
2199        Yes
2883        Yes
2930        Yes
4275         No
6226         No
6719         No

[8 rows x 21 columns]

In [14]:
# Quantas colunas tem pelo menos um valor ausente?
print(f"Quantas colunas tem pelo menos um valor ausente:\n{df_churn.isna().any(axis=0).sum()}")

Quantas colunas tem pelo menos um valor ausente:
1

## Remover Valores Ausentes

In [15]:
df_churn.dropna(axis=1)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,gender,SeniorCitizen,Partner,Dependents
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,No,No,No phone service,DSL,No,Yes,No,No,No,No,Female,0,Yes,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,No,Yes,No,DSL,Yes,No,Yes,No,No,No,Male,0,No,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,Yes,Yes,No,DSL,Yes,Yes,No,No,No,No,Male,0,No,No
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,Male,0,No,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,Yes,Yes,No,Fiber optic,No,No,No,No,No,No,Female,0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,One year,Yes,Mailed check,84.80,No,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,Male,0,Yes,Yes
7039,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Female,0,Yes,Yes
7040,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,No,No,No phone service,DSL,Yes,No,No,No,No,No,Female,0,Yes,Yes
7041,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,Yes,Yes,Yes,Fiber optic,No,No,No,No,No,No,Male,1,Yes,No
7042,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Male,0,No,No

In [16]:
# Remover colunas com pelo menos um valor ausente
print("\n#----------------------------------------------------------#")
print("\nRemovendo colunas com pelo menos um valor ausente:")
print(df_churn.dropna(axis=1).shape)
print("\n#----------------------------------------------------------#")
print("\nRemovendo linhas com pelo menos um valor ausente:")
print(df_churn.dropna(axis=0).shape)
print("\n#----------------------------------------------------------#")
print("\nRemovendo colunas com todos os valores ausentes:")
print(df_churn.dropna(axis=1, how='all').shape)
print("\n#----------------------------------------------------------#")
print("\nRemovendo linhas com todos os valores ausentes:")
print(df_churn.dropna(axis=0, how='all').shape)

#----------------------------------------------------------#

Removendo colunas com pelo menos um valor ausente:
(7043, 20)

#----------------------------------------------------------#

Removendo linhas com pelo menos um valor ausente:
(7032, 21)

#----------------------------------------------------------#

Removendo colunas com todos os valores ausentes:
(7043, 21)

#----------------------------------------------------------#

Removendo linhas com todos os valores ausentes:
(7043, 21)

## Imputação de Valores Ausentes

In [17]:
# # Preencher valores ausentes com a média da coluna
# df_churn['TotalCharges'] = df_churn['TotalCharges'].fillna(df_churn['TotalCharges'].mean())

# # Preencher valores ausentes com a mediana da coluna
# df_churn['TotalCharges'] = df_churn['TotalCharges'].fillna(df_churn['TotalCharges'].median())

# # Preencher valores ausentes com a moda da coluna
# df_churn['TotalCharges'] = df_churn['TotalCharges'].fillna(df_churn['TotalCharges'].mode()[0])

# Preencher valores ausentes com um valor específico
valor_especifico = 0
df_churn['TotalCharges'] = df_churn['TotalCharges'].fillna(valor_especifico)

In [18]:
# Verificando pós preenchimento
df_churn['TotalCharges'].isna().sum()

np.int64(0)

In [19]:
# Imprimi linha que continha valor ausente
print(f"Linha que continha valor ausente:\n{df_churn.iloc[488]}")

Linha que continha valor ausente:
customerID                         4472-LVYGI
tenure                                      0
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          52.55
TotalCharges                              0.0
Churn                                      No
PhoneService                               No
MultipleLines                No phone service
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                               Yes
StreamingTV                               Yes
StreamingMovies                            No
gender                                 Female
SeniorCitizen                               0
Partner                                   Yes
Dependents                                Yes
Name: 488, dtype: object