In [30]:
import pandas as pd

# Detecção de Valores Ausentes

In [31]:
# Carregando Dataframes
df_clientes = pd.read_csv('../../docs/datasets_aula/churn_customers.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_clientes.shape}")

df_contratos = pd.read_csv('../../docs/datasets_aula/churn_contracts.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_contratos.shape}")

df_servicos = pd.read_csv('../../docs/datasets_aula/churn_services.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_servicos.shape}")

Arquivo carregado com sucesso, dimensões: (7043, 5)
Arquivo carregado com sucesso, dimensões: (7043, 8)
Arquivo carregado com sucesso, dimensões: (7043, 10)

In [32]:
# Apresentando informações sobre os Dataframes
print(f"Informações do dataframe de clientes:\n{df_clientes.info()}\n")
print(f"Informações do dataframe de contratos:\n{df_contratos.info()}\n")
print(f"Informações do dataframe de serviços:\n{df_servicos.info()}\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB
Informações do dataframe de clientes:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB
Informações do dataframe de contratos:
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB
Informações do dataframe de serviços:
None

In [33]:
# Detectando valores ausentes
df_clients_missing = df_clientes.isna().sum()
df_contracts_missing = df_contratos.isna().sum()
df_services_missing = df_servicos.isna().sum()

# Visualizando os resultados
print(f"Valores ausentes no dataframe de clientes:\n{df_clients_missing}\n")
print(f"Valores ausentes no dataframe de contratos:\n{df_contracts_missing}\n")
print(f"Valores ausentes no dataframe de serviços:\n{df_services_missing}\n")

Valores ausentes no dataframe de clientes:
customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64

Valores ausentes no dataframe de contratos:
customerID          0
tenure              0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Valores ausentes no dataframe de serviços:
customerID          0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [34]:
# Detetando valores ausentes em uma coluna
df_contratos['TotalCharges'].isna().sum()

np.int64(0)

In [35]:
# Transformar coluna TotalCharges para float
df_contratos['TotalCharges'] = pd.to_numeric(df_contratos['TotalCharges'], errors='coerce')
# Visualizar as informações do dataframe
print(f"Informações do dataframe de clientes:\n")
df_contratos.info()

Informações do dataframe de clientes:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

In [36]:
# Detectando valores nulos
df_clientes_nulo = df_clientes.isnull().sum()
df_contratos_nulo = df_contratos.isnull().sum()
df_servicos_nulo = df_servicos.isnull().sum()

# Visualizando os resultados
print(f"Valores nulos no dataframe de clientes:\n{df_clientes_nulo}\n")
print(f"Valores nulos no dataframe de contratos:\n{df_contratos_nulo}\n")
print(f"Valores nulos no dataframe de serviços:\n{df_servicos_nulo}\n")

Valores nulos no dataframe de clientes:
customerID       0
gender           0
SeniorCitizen    0
Partner          0
Dependents       0
dtype: int64

Valores nulos no dataframe de contratos:
customerID           0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

Valores nulos no dataframe de serviços:
customerID          0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [37]:
# Linhas com pelo menos um valor ausente
print(f"Linhas com pelo menos um valor ausente:\n{df_contratos[df_contratos.isna().any(axis=1)]}")

Linhas com pelo menos um valor ausente:
      customerID  tenure  Contract PaperlessBilling  \
488   4472-LVYGI       0  Two year              Yes
753   3115-CZMZD       0  Two year               No
936   5709-LVOEQ       0  Two year               No
1082  4367-NUYAO       0  Two year               No
1340  1371-DWPAZ       0  Two year               No
3331  7644-OMVMY       0  Two year               No
3826  3213-VVOLG       0  Two year               No
4380  2520-SGTTA       0  Two year               No
5218  2923-ARZLG       0  One year              Yes
6670  4075-WKNIU       0  Two year               No
6754  2775-SEFEE       0  Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
488   Bank transfer (automatic)           52.55           NaN    No
753                Mailed check           20.25           NaN    No
936                Mailed check           80.85           NaN    No
1082               Mailed check           25.75           NaN    No
1340    Credit card (automatic)           56.05           NaN    No
3331               Mailed check           19.85           NaN    No
3826               Mailed check           25.35           NaN    No
4380               Mailed check           20.00           NaN    No
5218               Mailed check           19.70           NaN    No
6670               Mailed check           73.35           NaN    No
6754  Bank transfer (automatic)           61.90           NaN    No

In [38]:
# Linhas com pelo menos um valor nulo
print(f"Linhas com pelo menos um valor nulo:\n{df_contratos[df_contratos.isnull().any(axis=1)]}")

Linhas com pelo menos um valor nulo:
      customerID  tenure  Contract PaperlessBilling  \
488   4472-LVYGI       0  Two year              Yes
753   3115-CZMZD       0  Two year               No
936   5709-LVOEQ       0  Two year               No
1082  4367-NUYAO       0  Two year               No
1340  1371-DWPAZ       0  Two year               No
3331  7644-OMVMY       0  Two year               No
3826  3213-VVOLG       0  Two year               No
4380  2520-SGTTA       0  Two year               No
5218  2923-ARZLG       0  One year              Yes
6670  4075-WKNIU       0  Two year               No
6754  2775-SEFEE       0  Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
488   Bank transfer (automatic)           52.55           NaN    No
753                Mailed check           20.25           NaN    No
936                Mailed check           80.85           NaN    No
1082               Mailed check           25.75           NaN    No
1340    Credit card (automatic)           56.05           NaN    No
3331               Mailed check           19.85           NaN    No
3826               Mailed check           25.35           NaN    No
4380               Mailed check           20.00           NaN    No
5218               Mailed check           19.70           NaN    No
6670               Mailed check           73.35           NaN    No
6754  Bank transfer (automatic)           61.90           NaN    No

In [40]:
# Linhas com pelo menos um valor igual a 25.75
print(f"Linhas com pelo menos um valor igual a 25.75:\n{df_contratos[df_contratos['MonthlyCharges'] == 25.75]}")

Linhas com pelo menos um valor igual a 25.75:
      customerID  tenure        Contract PaperlessBilling  \
1082  4367-NUYAO       0        Two year               No
1531  7107-UBYKY      35  Month-to-month              Yes
2199  8532-UEFWH      52        Two year               No
2883  7225-IILWY      68        Two year               No
2930  5322-ZSMZY      31        Two year               No
4275  2692-PFYTJ       1  Month-to-month              Yes
6226  2097-YVPKN      65        Two year               No
6719  2509-TFPJU      72        Two year               No

                PaymentMethod  MonthlyCharges  TotalCharges Churn
1082             Mailed check           25.75           NaN    No
1531         Electronic check           25.75        882.55    No
2199             Mailed check           25.75       1345.85    No
2883             Mailed check           25.75       1686.15    No
2930             Mailed check           25.75        755.60    No
4275             Mailed check           25.75         25.75    No
6226             Mailed check           25.75       1654.75    No
6719  Credit card (automatic)           25.75       1864.20    No

In [41]:
# Quantas colunas tem pelo menos um valor ausente?
print(f"Quantas colunas tem pelo menos um valor ausente:\n{df_contratos.isna().any(axis=0).sum()}")

Quantas colunas tem pelo menos um valor ausente:
1

## Remover Valores Ausentes

In [46]:
# Remover colunas com pelo menos um valor ausente
print("\n#----------------------------------------------------------#")
print("\nRemovendo colunas com pelo menos um valor ausente:")
print(df_contratos.drop(columns=['TotalCharges'], axis=1))
print("\n#----------------------------------------------------------#")
print("\nRemovendo linhas com pelo menos um valor ausente:")
print(df_contratos.dropna(axis=0))
print("\n#----------------------------------------------------------#")
print("\nRemovendo colunas com todos os valores ausentes:")
print(df_contratos.dropna(axis=1, how='all'))
print("\n#----------------------------------------------------------#")
print("\nRemovendo linhas com todos os valores ausentes:")
print(df_contratos.dropna(axis=0, how='all'))

#----------------------------------------------------------#

Removendo colunas com pelo menos um valor ausente:
      customerID  tenure        Contract PaperlessBilling  \
0     7590-VHVEG       1  Month-to-month              Yes
1     5575-GNVDE      34        One year               No
2     3668-QPYBK       2  Month-to-month              Yes
3     7795-CFOCW      45        One year               No
4     9237-HQITU       2  Month-to-month              Yes
...          ...     ...             ...              ...
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges Churn
0              Electronic check           29.85    No
1                  Mailed check           56.95    No
2                  Mailed check           53.85   Yes
3     Bank transfer (automatic)           42.30    No
4              Electronic check           70.70   Yes
...                         ...             ...   ...
7038               Mailed check           84.80    No
7039    Credit card (automatic)          103.20    No
7040           Electronic check           29.60    No
7041               Mailed check           74.40   Yes
7042  Bank transfer (automatic)          105.65    No

[7043 rows x 7 columns]

#----------------------------------------------------------#

Removendo linhas com pelo menos um valor ausente:
      customerID  tenure        Contract PaperlessBilling  \
0     7590-VHVEG       1  Month-to-month              Yes
1     5575-GNVDE      34        One year               No
2     3668-QPYBK       2  Month-to-month              Yes
3     7795-CFOCW      45        One year               No
4     9237-HQITU       2  Month-to-month              Yes
...          ...     ...             ...              ...
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
0              Electronic check           29.85         29.85    No
1                  Mailed check           56.95       1889.50    No
2                  Mailed check           53.85        108.15   Yes
3     Bank transfer (automatic)           42.30       1840.75    No
4              Electronic check           70.70        151.65   Yes
...                         ...             ...           ...   ...
7038               Mailed check           84.80       1990.50    No
7039    Credit card (automatic)          103.20       7362.90    No
7040           Electronic check           29.60        346.45    No
7041               Mailed check           74.40        306.60   Yes
7042  Bank transfer (automatic)          105.65       6844.50    No

[7032 rows x 8 columns]

#----------------------------------------------------------#

Removendo colunas com todos os valores ausentes:
      customerID  tenure        Contract PaperlessBilling  \
0     7590-VHVEG       1  Month-to-month              Yes
1     5575-GNVDE      34        One year               No
2     3668-QPYBK       2  Month-to-month              Yes
3     7795-CFOCW      45        One year               No
4     9237-HQITU       2  Month-to-month              Yes
...          ...     ...             ...              ...
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
0              Electronic check           29.85         29.85    No
1                  Mailed check           56.95       1889.50    No
2                  Mailed check           53.85        108.15   Yes
3     Bank transfer (automatic)           42.30       1840.75    No
4              Electronic check           70.70        151.65   Yes
...                         ...             ...           ...   ...
7038               Mailed check           84.80       1990.50    No
7039    Credit card (automatic)          103.20       7362.90    No
7040           Electronic check           29.60        346.45    No
7041               Mailed check           74.40        306.60   Yes
7042  Bank transfer (automatic)          105.65       6844.50    No

[7043 rows x 8 columns]

#----------------------------------------------------------#

Removendo linhas com todos os valores ausentes:
      customerID  tenure        Contract PaperlessBilling  \
0     7590-VHVEG       1  Month-to-month              Yes
1     5575-GNVDE      34        One year               No
2     3668-QPYBK       2  Month-to-month              Yes
3     7795-CFOCW      45        One year               No
4     9237-HQITU       2  Month-to-month              Yes
...          ...     ...             ...              ...
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
0              Electronic check           29.85         29.85    No
1                  Mailed check           56.95       1889.50    No
2                  Mailed check           53.85        108.15   Yes
3     Bank transfer (automatic)           42.30       1840.75    No
4              Electronic check           70.70        151.65   Yes
...                         ...             ...           ...   ...
7038               Mailed check           84.80       1990.50    No
7039    Credit card (automatic)          103.20       7362.90    No
7040           Electronic check           29.60        346.45    No
7041               Mailed check           74.40        306.60   Yes
7042  Bank transfer (automatic)          105.65       6844.50    No

[7043 rows x 8 columns]

## Imputação de Valores Ausentes

In [47]:
# Preencher valores ausentes com a média da coluna
df_contratos['TotalCharges'] = df_contratos['TotalCharges'].fillna(df_contratos['TotalCharges'].mean())

# Preencher valores ausentes com a mediana da coluna
df_contratos['TotalCharges'] = df_contratos['TotalCharges'].fillna(df_contratos['TotalCharges'].median())

# Preencher valores ausentes com a moda da coluna
df_contratos['TotalCharges'] = df_contratos['TotalCharges'].fillna(df_contratos['TotalCharges'].mode()[0])

# Preencher valores ausentes com um valor específico
valor_especifico = 0
df_contratos['TotalCharges'] = df_contratos['TotalCharges'].fillna(valor_especifico)